<html>
	
	<body>
			
		<script>
		//Kommentare
		//https://api.krr.triply.cc/datasets/mkumpel/ProductKG/services/ProductKG/sparql
		//https://api.krr.triply.cc/datasets/mkumpel/ProductKG/sparql
		//Beide Endpoints, es muss getestet werden welche besser sind
		// Ok Test hat gefunkt, we make it
		// Also, wir wollen nen Button der von einen ausgewählten Rezept mit mindestens einer Schneide- oder Gießaktion die Instruktionen zu den Rezept ausgibt, wobei dann die Aktion markiert ist (Wie auch immer man das hinkriegt) Stand 30.4.24
		// Vieles lässt sich von dem Webinterface.hmtl erlernen, jedoch müssen mehrere Aspeke selbst gefunden werden
		// 1. Filterung Schneideaktion-/Gießaktionrezepte von nicht Schneideaktion-/Gießaktionrezepte
		// 2. Manipulierung der Farbe der Schneideaktion-/Gießaktionverben des Instruktiontextes zu Rot/Markierungsfarbe
		// 3. 
		
		//Also: Es benötigt einen Knopf für die Query. Das lässt sich übernehmen von dem Webinterface
		//Die Query die durch den Knopf ausgelöst wird muss selbst erstellt werden. 

		async function testConnect(){
		 const sparqlQuery = '
		  SELECT *
		  WHERE { ?s ?o ?p }
		 const endPoint1 = 'https://api.krr.triply.cc/datasets/mkumpel/ProductKG/services/ProductKG/sparql'
		 const endPoint2 = 'https://api.krr.triply.cc/datasets/mkumpel/ProductKG/sparql'
		 
		 const requestOptions = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/sparql-query',
                    },
                    body: sparqlQuery,
                }

		
		 try{
                    const response = await fetch(endpoint1, requestOptions)
                    const data = await response.json()
                    return data.boolean
                } catch (error) {
                    console.error('Error:', error)
                    return false
                }
		}
		
		// </p> ist ein Absatzskip
		</script>
		<hr>
		In the following you can test out our Action Identification on the Recipes yourself!  </p>
		<font size=5> Test </font>
		<font size=4> Test </font>
		<font size=3> Test </font>
		<font size=2> Test </font>
		<font size=1> Test </font>
		<font size=6> Test </font>
		<font size=7> Test </font>
		<font size=8> Test </font>
		<font size=9> Test </font>
		<font size=10> Test </font>
		Mal gucken wie man das hier integriert in den Post.
		<button type="button" onclick="testConnect()">Test!</button> </font>
	</body>			
			
</html>