<html>
	
	<body>
			
		<script>
		//Kommentare
		//https://api.krr.triply.cc/datasets/mkumpel/ProductKG/services/ProductKG/sparql
		//https://api.krr.triply.cc/datasets/mkumpel/ProductKG/sparql
		//Beide Endpoints, es muss getestet werden welche besser sind
		// Ok Test hat gefunkt, we make it
		// Also, wir wollen nen Button der von einen ausgewählten Rezept mit mindestens einer Schneide- oder Gießaktion die Instruktionen zu den Rezept ausgibt, wobei dann die Aktion markiert ist (Wie auch immer man das hinkriegt) Stand 30.4.24
		// Vieles lässt sich von dem Webinterface.hmtl erlernen, jedoch müssen mehrere Aspeke selbst gefunden werden
		// 1. Filterung Schneideaktion-/Gießaktionrezepte von nicht Schneideaktion-/Gießaktionrezepte
		// 2. Manipulierung der Farbe der Schneideaktion-/Gießaktionverben des Instruktiontextes zu Rot/Markierungsfarbe
		// 3. 
		
		//Also: Es benötigt einen Knopf für die Query. Das lässt sich übernehmen von dem Webinterface
		//Die Query die durch den Knopf ausgelöst wird muss selbst erstellt werden. 

		async function testConnect(){
		
			const sparqlQuery = `
			SELECT *
			WHERE { ?s ?o ?p. }
			`;
		  
			const endPoint1 = 'https://api.krr.triply.cc/datasets/mkumpel/ProductKG/services/ProductKG/sparql'
		
			const endPoint2 = 'https://api.krr.triply.cc/datasets/mkumpel/ProductKG/sparql'
		 
			const requestOptions = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/sparql-query',
                    },
                    body: sparqlQuery,
                }

		
			//try {
            //const response = await fetch(endPoint1, requestOptions)
            //const data = await response.json()
			//	console.log(data.boolean)
            //  return data.boolean
			//} catch (error) {
            //    console.error('Error:', error)
            //    return false
            //    }
		}
		// well we don't get a error, that sounds better then nothing!
		// Ziele:  
		// 1. Funktion zur bestimmung von allen Rezepten, welche mindestens eine Schneide-/Gießaktion haben
		// -> Filterung mit existenz einer Relation zwischen ihm und der Object Property includes_task
		//    http://www.ease-crc.org/ont/SOMA.owl#includes_task
		// Dadurch 
		// 
		// </p> ist ein Absatzskip
		
		
		
		async function filterRecipe() {
		
		//Hole die Information heraus
			const relevantRecipes = `
			PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
			PREFIX recipe: <http://purl.org/ProductKG/RecipeOn#>
			PREFIX owl: <http://www.w3.org/2002/07/owl#>
			PREFIX soma: <http://www.ease-crc.org/ont/SOMA.owl#>
			SELECT DISTINCT ?recipe ?recipeInstructions ?recipeLabel	
			WHERE{
				?recipe rdfs:subClassOf recipe:Recipe.
				?recipe rdfs:subClassOf ?a.
				?a owl:onProperty soma:includes_task.
				?recipe recipe:instructions ?recipeInstructions.
				?recipe rdfs:label ?recipeLabel.
				}
			`;
			// Beide endPoints zur Abfrage, grade endPoint2
			const endPoint1 = 'https://api.krr.triply.cc/datasets/mkumpel/ProductKG/services/ProductKG/sparql'	
			const endPoint2 = 'https://api.krr.triply.cc/datasets/mkumpel/ProductKG/sparql'
		 //Einstellung der Nachfrage, 
			const requestOptions = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/sparql-query',
                    },
                    body: relevantRecipes,
                }
			
			 try {
					//Dies gibt ein Objekt aus, woraus man per Array-Zugriff ein Triple aus Rezept,Rezeptinstruktion und Label bekommt.
                    const response = await fetch(endPoint2, requestOptions)
                    const data = await response.json()
					<!-- const test = data[0] -->
					<!-- console.log(test) -->
                    <!-- const testArray = [] -->
					<!-- testArray.push(test.recipe) -->
					<!-- console.log(testArray[0]) -->
					<!-- testArray.push(test.recipeInstructions) -->
					<!-- console.log(testArray[1]) -->
					<!-- testArray.push(test.recipeLabel)	 -->
					<!-- console.log(testArray[2]) -->
					return data
					
                } catch (error) {
                    console.error('Error:', error)
					const failure = []
                    return failure
                }
							
		}
		
		async function randomize() {
			// Hole die Liste von angegebenen Rezepten hervor
			const usedListRecipes = document.getElementById("recipe-list")
			// Hole die relevante Rezeptliste aus dem Netz
			const getData = await filterRecipe() //Array mit Triple, zugriff per .recipe, .recipeInstructions, .recipeLabel
			// Bestimme die Größe der angegeben Liste
			const sizeOfUsedList = usedListRecipes.length

			//Bestimme die Größe der Rezeptliste
			const sizeOfRecipeList = Object.keys(getData).length //vllt funkt das ja?
			console.log(sizeOfRecipeList)
			
			//Für alle angegebenen Rezepten...
			for(let i = 0; i < sizeOfUsedList; i++)
			{
				//bestimme eine zufällige Zahl und runde sie runter auf eine natürliche Zahl
				var randomNumber = Math.floor(Math.random() * sizeOfRecipeList)
				// und mit dieser Zahl bestimme nun das neue Rezept und deren Label
				var newRecipe = getData[randomNumber].recipe
				//var newInstructions = instructionList[randomNumber]
				var newLabel = getData[randomNumber].recipeLabel
				
				// sodass diese dann schließlich eingefügt werden kann in die genutzte Liste
				document.getElementById("recipe-list").options[i].value = newRecipe
				document.getElementById("recipe-list").options[i].text = newLabel
				// ES FUNKT ENTLICH JAAAAAAAAAAAAAAAA
			}
					
		}
		
		async function getInstructions(recipe){
		//Hole die Instruktion von einen gegebenen Rezept-Link
			const sparqlQuery = `
			PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
			PREFIX recipe: <http://purl.org/ProductKG/RecipeOn#>
			PREFIX owl: <http://www.w3.org/2002/07/owl#>
			PREFIX soma: <http://www.ease-crc.org/ont/SOMA.owl#>
			SELECT ?recipeInstructions
			WHERE { ${recipe} recipe:instructions ?recipeInstructions. 
			}
			`;
		  
			const endPoint1 = 'https://api.krr.triply.cc/datasets/mkumpel/ProductKG/services/ProductKG/sparql'
		
			const endPoint2 = 'https://api.krr.triply.cc/datasets/mkumpel/ProductKG/sparql'
		 
			const requestOptions = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/sparql-query',
                    },
                    body: sparqlQuery,
                }
				
			try {
					//Dies gibt ein Objekt aus, woraus man per Array-Zugriff ein Triple aus Rezept,Rezeptinstruktion und Label bekommt.
                    const response = await fetch(endPoint2, requestOptions)
                    const data = await response.json()
					const instructions = data[0].recipeInstructions 
					return instructions
					
                } catch (error) {
                    console.error('Error:', error)
					const failure = []
                    return failure
                }
		
		}
		
		async function showInstruction(){
		//Zeige die Instruktion an von dem ausgewählten Rezept
		
			// Hole die Liste von angegebenen Rezepten hervor
			const usedListRecipes = document.getElementById("recipe-list")
			
			//Hole die Tabelle hervor
			var table = document.getElementById("recipeTable")
		
			//Hole den Header von der Tabelle 
			var header = document.getElementById("header")
			
			//Hole den Container 
			var container = document.getElementById("results")
			
			//Entferne den letzten Eintrag falls vorhanden
			clear_table()
			
			//Bestimme das ausgewählte Rezept
			const chosenRecipe = "<".concat(usedListRecipes.options[usedListRecipes.selectedIndex].value,">")
			
			//Bestimme den Namen des ausgewählten Rezeptes
			const nameOfRecipe = usedListRecipes.options[usedListRecipes.selectedIndex].text
			
			//Hole die Instruktion für das Rezept
			const instructions = await getInstructions(chosenRecipe)
			
			//Bestimme die in den Instruktionen stehenen Verben
			const verbInInstructions = findImportantVerbs(instructions)
				
			//Addiere das Rezept und seine Instruktion zu der Tabelle
			// Addiere eine neue untere Zeile ein
			var recipeRow = table.insertRow(-1)
			// Weise die linke Zelle dem Rezept zu
			var recipe = recipeRow.insertCell(0)
			// Weise die rechte Zelle den Instruktionen zu
			var recipeListOfInstructions = recipeRow.insertCell(1)
			// Füge den Namen des Rezepts in die Zelle für das Rezept ein
			recipe.innerHTML = nameOfRecipe
			// Füge die Instruktionen des Rezeptes in die Zeile für die Instruktionen ein
			recipeListOfInstructions.innerHTML = instructions
			
			//Addiere die interesanten Verben als nächte Zeile in die Tabelle
			// Addiere eine zweite Zeile unter der Rezeptzeile
			var verbRow = table.insertRow(-1)
			// Weise die linke Zelle der neuen Zeile einer Variabel zu, welche später "Verben" enthält
			var annotation = verbRow.insertCell(0)
			// Weise die rechte Zeile der neuen Zeile einer Variabel zu, welche die formatierten relevanten Verben in den Instruktionen zeigen wird
			var shownVerbInInstructions = verbRow.insertCell(1)
			// Füge die Annotation "Verben" ein 
			annotation.innerHTML = "Verben"
			//Füge die relevanten Verben ein
			shownVerbInInstructions.innerHTML = verbInInstructions 
					
			//Zeige die Tabelle
			container.style.display = "block";
			
			//Gebe die Information des Inhalt der Tabelle an
			header.textContent = "These are the instructions for your selected recipe!"
		}
		
		//Genommen aus Webinterface.hmtl der Webseite 
		function clear_table() {
            	var table = document.getElementById("recipeTable");
            	var rowCount = table.rows.length;
                for (var i = rowCount - 1; i >= 1; i--) {
                    table.deleteRow(i);
                }
            }
			
		//Verbidentifizierungsmethode, welche die Instruktionen auf die für diese Arbeit relevanten Verben herausbestimmt und diese für die Tabelle formatiert ausgibt
		function findImportantVerbs(text){
			
			//Bilde lowercase-text aus dem Parameter
			const lowercaseText = text.toLowerCase()
			
			// Bilde 2D-Array aus den für die Arbeit relevanten Verben in lowercase
			const interestingVerbs = [
				["cut","cutting"],						//cut
				["carve","carved","carving"],			//carve
				["slash","slashed","slashing"],			//slash
				["slice","sliced","slicing"],			//slice
				["dice","diced","dicing"],				//dice
				["hash","hashed","hashing"],			//hash
				["mince","minced","mincing"],			//mince 
				["quarter","quatered","quatering"],		//quarter
				["saw","sawed","sawing"],				//saw	
				["slit","slitting"],					//slit
				["sliver","slivered","slivering"],		//sliver
				["snip","snipped","snipping"],			//snip
				["halve","halved","halving"],			//halve
				["cube","cubed","cubing"],				//cube
				["sever","severed","severing"],			//sever
				["crosscut","crosscutting"],			//crosscut
				["incise","incising"],					//incise
				["jag","jag","jagging"],				//jag
				["julienne","julienned","julienning"], 	//julienne
				["trench","trenched","trenching"],		//trench
				["trisect","trisected","trisecting"],	//trisect
				["chop","choped","chopping"],			//chop
				["fillet","filleted","filleting"],		//fillet
				["pare","pared","paring"],				//pare
				["pour","poured","pouring"],			//pour
				["cascase","cascaded","cascading"],		//cascade
				["flow","flowed","flowing"],			//flow
				["drain","drained","draining"],			//drain
			    ["sprinkle","sprinkled","sprinkling"],	//sprinke
				["splash","splashed","splashing"],		//splash
				["spill","spilled","spilling"],			//spill
				["stream","streamed","streaming"],		//stream
				]
			
			//Result-Array, welcher später formatiert wird.
			var result = []
			
			// Für alle relevanten Verbengruppen...
			for (let i = 0; i < interestingVerbs.length; i++)
			{
				//für alle existierenden Zeitformen...
				for (let j = 0; j < interestingVerbs[i].length; j++)
				{
					//Falls der Verb in dem Lowercase-Text ist...
					if (lowercaseText.includes(interestingVerbs[i][j]) == true)
					{
						//dann füge ihn als Element in das Resultatsarray ein.
						result.push(interestingVerbs[i][j])
					}
				}
			}
			
			// Schließlich die Formatierung der Resultate
			var formatedResult = ["Innerhalb der Instruktionschritten befanden sich folgende relevante Verben: \n "]
			
			//Für alle interestante Verben in den Instruktionsschritten...
			for (k = 0; k < result.length; k++)
			{			
			//...füge diese als Zeile mitsamt Zeilenumbruch in die neue Array ein
			formatedResult.concat(result[k]," \n ")
			console.log(formatedResult)
			}
			
			//Gebe nun schließlich den String aus 
			return formatedResult
		}
		// Nun ist die FilterFunktion fertig, somit braucht es eine Methode für den Button
		
		
		// OK. Wir wollen erstmal eine Liste von Rezepte mitsamt deren Instruktionen haben, wovon der Leser 
		// einen auswählen kann um die Instruktion zu bekommen. In der Instruktion soll der Verb hervorgeheben sein.
		// 
		// Randomize Knopf führt Funktion aus die folgendes Macht:
		// 1. Bestimme Liste von interestanten Rezepten, haben wir bereits
		// 2. Bestimme Auswahl-Größe - basierte Zufallsrezepte durch RNG-Nummer Loop über Array. 
		// 3. Loop über Auswahl-Größe die Liste von Rezepte via Zufallszahl für Rezeptspot verändert.
		// 
		// Link wie man selects ändert.
		// https://stackoverflow.com/questions/10911526/how-do-i-programatically-select-an-html-option-using-javascript
		//
		//
		
		</script>
		<hr>
		In the following you can test out our Action Identification on the Recipes yourself!
		You're given a set of pre-selected recipes for you to select. Upon pressing the left button 
		the instruction steps alongside the notable verbs that are executable by the robot are highlighted.
		The right button randomizes the set of recipe to a entirely new set for you to choose out of!
		<select name="Recipes" id="recipe-list">
			<option value="http://purl.org/ProductKG/RecipeOn#Sauerkraut">Sauerkraut</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Sushi_Rolls">Sushi Rolls</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Spaghetti_With_Tomato_Sauce">Spaghetti With Tomato Sauce</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Bagels">Bagels</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Chinese_Broccoli_With_Ginger_Sauce">Chinese Broccoli With Ginger Sauce</option>
			<option value="http://purl.org/ProductKG/RecipeOn#The_Ultimate_Hamburger">The Ultimate Hamburger</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Thai_Curry_Chicken">Thai Curry Chicken</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Spanish_Mussels_Vinaigrette_(Mejillones_a_La_Vinagreta)">Spanish Mussels Vinaigrette (Mejillones a La Vinagreta)</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Shrimp_Pizza">Shrimp Pizza</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Dum_Ki_Gobi">Dum Ki Gobi</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Danish_Smalls_Klejner">Danish Smalls Klejner</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Cuban_Potato_Salad">Cuban Potato Salad</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Cinnamon_French_Toast">Cinnamon French Toast</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Brazilian_Brigadeiro...for_Chocoholics">Brazilian Brigadeiro...for Chocoholics</option>
			<option value="http://purl.org/ProductKG/RecipeOn#Bouillabaisse">Bouillabaisse</option>
		</select>
		<button type="button" onclick="showInstruction()">Instructions!</button> </font>
		<button type="button" onclick="randomize()">Randomize!</button> </font>
		
		
		<div id="results" style='display: none'>
			<p id="header"></p>
			<table id="recipeTable">
            <tr>
              <th>Recipe</th>
              <th>Instructions</th>
            </tr>
          </table>
		</div>
		
		
	</body>			
			
</html>